.mainContainer {
    height: 1000;
    background-color: blueviolet;
}

.GeeksForGeeks {
    background-image:
    url(
  "https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Digital_Rupee.svg/1200px-Digital_Rupee.svg.png");
    background-size: "cover";
    height: 1;
    width: 10;
    background-repeat:no-repeat;
  }